@media all and (max-width:1783px) {
    .newsLeft,
    .newsRight {
        flex: unset;
        height: auto;
    }
    .newsRight {
    height: 200px;
    }
    .newsItem {
        padding: 0;
        flex: 1;
        margin: 0 20px;
        height: auto;
        flex-direction: column;
    }
    .newsPoster {
        position: relative;
        bottom: 70px;
    }
    .newsRight>img {
        width: 100%;
        bottom: 55px;
        position: relative;
    }
}

@media screen and (max-width: 1150px) {
    .timeContainer:first-child {
        margin-right: 75px;
    }
    .hero {
        flex-direction: column-reverse !important;
        justify-content: center;
        align-items: center;
    }
    .timerContainer {
        flex-direction: row !important;
        justify-content: center;
    }
    .timeContainer:first-child {
        margin-right: 7.5px !important;
        width: 140px;
    }
    .timeContainer:nth-child(2) {
        margin-left: 50px;
        width: 100px;
        margin-right: 0px;
    }
    .timeContainer:nth-child(3) {
        margin-left: 5px;
        width: 145px;
    }
    .timeContainer:not(:last-child) {
        margin-bottom: 0px;
    }
    .timeContainer h4 {
        font-size: 57px;
    }
    .timeContainer h4 span {
        margin-right: 0px;
        font-size: 16px;
        margin-top: 10px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        height: 50px;
        margin-left: 10px;
    }
    .timeContainer {
        height: 55px;
        width: 80px;
    }
    .heroRight {
        margin-bottom: 50px;
    }
    .heroContainer {
        height: 100vh !important;
    }
    .wrapper {
        position: relative;
        right: 0px;
    }
    .heroLeft {
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
    .heroLeft p {
        text-align: center;
    }
    .heroLeft h4 {
        text-align: center;
        font-size: 46px;
    }
    .newsLeft,
    .newsRight {
        flex: unset;
        height: auto;
        text-align: center;
    }
    .newsRight {
        height: auto;
        text-align: center;
    }
    .newsItem {
        margin: auto;
        text-align: center;
        align-items: center;
        margin-right: 40px;
    }
    .newsPoster {
        position: unset;
        padding-top: 0;
    }
    .newsRight>img {
        width: 100%!important;
        position: initial;
        bottom: 0;
    }
}

.mobileNav {
    display: none;
    position: relative;
}

.burgerMenu span {
    display: block;
    width: 30px;
    height: 2px;
    background: white;
}

.burgerMenu span:not(:last-child) {
    margin-bottom: 8px;
}

.navRight {
    position: relative;
    z-index: 100;
}

.actualMobileNav a {
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding: 14px 22px;
}

.actualMobileNav {
    position: absolute;
    top: 50px;
    right: 0px;
    border-radius: 6px;
    background: #07090c;
    display: flex;
    flex-direction: column;
    z-index: 100;
    min-width: 180px;
}

@media screen and (min-width:900px) {
    .footerMid {
        display: flex;
        justify-content: space-BETWEEN;
    }
    .footerItem {
        text-align: left !important;
        padding-top: 0 !important;
        margin-top: 50px !important;
    }
    .footerBottom {
        display: flex;
        text-align: left !important;
        margin-top: 0;
        margin: auto;
    }
    .bottomItem {
        margin: 40px auto;
        padding: 0 !important;
        flex: 1;
    }
    .socialContainerOuter {
        overflow: hidden;
    }
    .footerBottom>.bottomItem:last-child>ul {
        align-content: right;
        justify-content: flex-end;
    }
    .footerBottom>.bottomItem:last-child>ul>li {
        flex-basis:8%;
    }
}

@media screen and (max-width: 768px) {
    .homeTopInput {
        font-size:14px;
            padding: 0 20px 0 70px;
    }
    .timeContainer h4 span {
        padding:0!important;
        font-weight:100;
        font-size:0.9rem!important;
        letter-spacing:0.6px
        text-align:center!important;
    }
    .heroRight {
    margin-bottom: 40px;
}
    .subscribeContainer span {text-align:center}
    .sectionHeader h4 {
        font-size: 34px;
        font-weight: bolder;
        text-align: center;
    }
    .sectionHeader h5 {
        font-size: 19px;
        line-height: 1.6;
        text-align: center;
        font-weight: 500;
    }
    .mobileNav {
        display: flex;
    }
    .navRight ul {
        display: none;
    }
    .featuresContainer {
        flex-direction: column;
    }
    .featureIndividual:last-child {
        margin-left: 0px;
        margin-top: 50px;
    }
    .timeContainer h4 span {
        margin-right: 0px;
        font-size: 14px;
        margin-top: 8px !important;
        height: 30px;
    }
    .timeContainer {
        background: transparent !important;
    }
    .timeContainer h4 {
        font-size: 40px!important;
        position: relative;
        text-align: center;
        align-items: center;
        margin: 0 auto;
        display: inline-block;
    }
    .btnHome {
        padding: 12px 19px;
        margin: auto;
        top: 11px;
        font-size: 13px;
        font-weight: bold;
    }
    .timeContainer:nth-child(2) {
        margin-left: 5px;
        width: 112px;
    }
    .timeContainer:nth-child(3) {
        width: 112px;
    }
    .timeContainer:first-child {
        width: 112px;
    }
    .heroLeft h4 {
        text-align: center;
        font-size: 37px;
        font-weight: bolder;
        text-transform: uppercase;
    }
}


@media screen and (max-width: 582px) {
    .footerContainer {
        padding:20px 30px;
    }
    .footerBottom>.bottomItem:last-child>ul>li {
        margin:0 10px;
    }
    .timeContainer {
        margin: 0px !important;
    }
    .timeContainer h4 {
        font-size: 30px;
    }
    .timeContainer h4 span {
        background: transparent !important;
        margin-left: 5px;
        padding: 0px !important;
    }
    .dualInputContainer {
        flex-direction: column;
    }
    .dualInputContainer input:last-child {
        margin-top: 25px;
        margin-left: 0px;
    }
    .typeOfUser {
        flex-direction: column;
    }
    .typeOfUser p:last-child {
        margin-left: 0px;
        margin-top: 25px;
    }
}
