@media screen and (max-width: 1150px) {
    .timeContainer:first-child {
        margin-right: 75px;
    }
    .hero {
        flex-direction: column-reverse !important;
        justify-content: center;
        align-items: center;
    }
    .timerContainer {
        flex-direction: row !important;
        justify-content: center;
    }
    .timeContainer:first-child {
        margin-right: 7.5px !important;
        width: 140px;
    }
    .timeContainer:nth-child(2) {
        margin-left: 50px;
        width: 100px;
        margin-right: 0px;
    }
    .timeContainer:nth-child(3) {
        margin-left: 5px;
        width: 145px;
    }
    .timeContainer:not(:last-child) {
        margin-bottom: 0px;
    }
    .timeContainer h4 {
        font-size: 57px;
    }
    .timeContainer h4 span {
        margin-right: 0px;
        font-size: 16px;
        margin-top: 10px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        height: 50px;
        margin-left: 10px;
    }
    .timeContainer {
        height: 55px;
        width: 80px;
    }
    .heroRight {
        margin-bottom: 50px;
    }
    .heroContainer {
        height: 100vh !important;
    }
    .wrapper {
        position: relative;
        right: 0px;
    }
    .heroLeft {
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
    .heroLeft p {
        text-align: center;
    }
    .heroLeft h4 {
        text-align: center;
        font-size: 46px;
    }
}

.mobileNav {
    display:none;
    position:relative;
}
.burgerMenu span {
    display: block;
    width: 35px;
    height: 3px;
    background: white;
}
.burgerMenu span:not(:last-child) {
    margin-bottom: 10px;
}
.navRight {
    position:relative;
    z-index:100;
}
.actualMobileNav a {
    color: black;
    font-weight: 700;
    font-size: 21px;
    padding: 15px;
    background: white;
}
.actualMobileNav {
    position: absolute;
    top: 40px;
    right: 0px;
    display: flex;
    flex-direction: column;
    z-index:100;
    min-width: 200px;
}
@media screen and (max-width: 768px) {
    .sectionHeader h4 {
        font-size:34px;
    }
    .sectionHeader h5 {
        font-size: 25px;
    }
    .mobileNav {
        display:flex;
    }
    .navRight ul {
        display: none;
    }
    .featuresContainer {
        flex-direction: column;
    }
    .featureIndividual:last-child {
        margin-left: 0px;
        margin-top: 50px;
    }
    .timeContainer h4 span {
        margin-right: 0px;
        font-size: 14px;
        margin-top: 8px !important;
        height: 30px;
    }
    .timeContainer {
        background: transparent !important;
    }
    .timeContainer h4 {
        font-size: 35px;
    }
    .timeContainer:nth-child(2) {
        margin-left: 5px;
        width: 112px;
    }
    .timeContainer:nth-child(3) {
        width: 112px;
    }
    .timeContainer:first-child {
        width: 112px;
    }
    .heroLeft h4 {
        text-align: center;
        font-size: 37px;
    }
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footerLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }
}


@media screen and (max-width: 582px) {
    .timeContainer {
        margin:0px !important;
    }
    .timeContainer h4 {
        font-size: 30px;
    }
    .timeContainer h4 span {
        background: transparent !important;
        margin-left: 5px;
        padding: 0px !important;
    }
    .dualInputContainer {
        flex-direction: column;
    }
    .dualInputContainer input:last-child {
        margin-top: 25px;
        margin-left: 0px;
    }
    .typeOfUser {
        flex-direction: column;
    }
    .typeOfUser p:last-child {
        margin-left: 0px;
        margin-top: 25px;
    }
    .btnHome {
        padding: 18px 18px;
        font-size: 13px;
    }
}


