@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900');
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
    /* line-height: 17px; */
}

table {
    border-collapse: collapse;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

/* input {
    width: 100%;
} */

html {
    height: 100%;
}

body {
    background: #f2f5f7;
    font-family: "Maven Pro", Arial;
    -webkit-font-smoothing: antialiased;
    color: #101010;
    height: 100%;
    overflow-x: hidden;
}

::-webkit-input-placeholder {
    color: #b7b7b7;
}

::-moz-placeholder {
    color: #b7b7b7;
}

:-ms-input-placeholder {
    color: #b7b7b7;
}

:-moz-placeholder {
    color: #b7b7b7;
}

.navLeft img {
    width: 145px;
    height: 50px;
}

.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    min-height: 100px;
    position: Relative;
    z-index: 10;
}

.heroContainer {
    background: #131a22;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
    height: 600px;
    position: Relative;
    /* height: 100vh; */
    justify-content: space-between;
}

.hero {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    /* align-items: flex-start; */
    align-items: center;
    flex: 1;
    justify-content: center;
    position: Relative;
    z-index: 1;
    margin-top: 0px;
}

.navRight ul a:last-child {
    /* padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
    background: rgba(255,153,0,1);
    background: -moz-linear-gradient(left, rgba(255,153,0,1) 0%, rgba(247,183,51,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,153,0,1)), color-stop(100%, rgba(247,183,51,1)));
    background: -webkit-linear-gradient(left, rgba(255,153,0,1) 0%, rgba(247,183,51,1) 100%);
    background: -o-linear-gradient(left, rgba(255,153,0,1) 0%, rgba(247,183,51,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,153,0,1) 0%, rgba(247,183,51,1) 100%);
    background: linear-gradient(to right, rgba(255,153,0,1) 0%, rgba(247,183,51,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#f7b733', GradientType=1 ); */
    color: rgb(255, 255, 255);
}

.subscribeContainer span {
    font-size: 12px;
    display: block;
    margin-top: 10px;
    color: #ffffff;
    opacity: 0.4;
}

.navRight ul a {
    font-size: 16px;
    height: 42px;
    display: inline-flex;
    align-items: center;
    /* color: rgba(255,255,255,0.6); */
    font-weight: 500;
}

.navRight ul a:not(:last-child) {
    margin-right: 25px;
}

.heroLeft h4 {
    font-size: 54px;
    font-weight: 100;
    color:#fff;
}

.heroLeft p {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: -0.3px;
    color: #ffffff;
    margin: 21px 0 48px;
    opacity: .4;
    width: 100%;
    text-align: left;
}

.homeTopInput {
    height: 65px;
    border-radius: 3px;
    background-color: #ffffff;
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.08), inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.08), inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: 0;
    outline: 0;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: -0.3px;
    text-align: left;
    color: #131a22;
    padding: 0 20px 0 75px;
    margin-bottom: 5px;
    /* max-width: 477px; */
    width: 100%;
}

.btnHome {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.3px;
    color: #ffffff;
    padding: 17px 32px;
    border-radius: 4px;
    background: rgba(255, 153, 0, 1);
    background: -moz-linear-gradient(left, rgba(255, 153, 0, 1) 0%, rgba(247, 183, 51, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 153, 0, 1)), color-stop(100%, rgba(247, 183, 51, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 153, 0, 1) 0%, rgba(247, 183, 51, 1) 100%);
    background: -o-linear-gradient(left, rgba(255, 153, 0, 1) 0%, rgba(247, 183, 51, 1) 100%);
    background: -ms-linear-gradient(left, rgba(255, 153, 0, 1) 0%, rgba(247, 183, 51, 1) 100%);
    background: linear-gradient(to right, rgba(255, 153, 0, 1) 0%, rgba(247, 183, 51, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#f7b733', GradientType=1);
    position: absolute;
    right: 5px;
    top: 7px;
    text-transform: uppercase;
}

.subscribeContainer {
    position: relative;
    max-width: 500px;
    width: 100%;
}

.heroRight {
    width: 100%;
    display: flex;
    justify-content: center;
}

.heroLeft {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.subscribeContainer i {
    position: absolute;
    color: #b7b7b7;
    left: 25px;
    top: 13px;
    font-size: 40px;
}

.timeContainer {
    display: flex;
    /* background: rgba(255,153,0,1);
    background: -moz-linear-gradient(left, rgba(255,153,0,1) 0%, rgba(247,183,51,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,153,0,1)), color-stop(100%, rgba(247,183,51,1)));
    background: -webkit-linear-gradient(left, rgba(255,153,0,1) 0%, rgba(247,183,51,1) 100%);
    background: -o-linear-gradient(left, rgba(255,153,0,1) 0%, rgba(247,183,51,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,153,0,1) 0%, rgba(247,183,51,1) 100%);
    background: linear-gradient(to right, rgb(255, 153, 0) 0%, rgb(247, 183, 51) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#f7b733', GradientType=1 ); */
    /* border-radius: 3px;
    padding-left: 25px;
    padding-right: 25px; */
    align-items: center;
    color: #ffffff;
    position: relative;
    flex-direction: row;
    height: 82px;
    /* width: 146px; */
}

.timeContainer:not(:last-child) {
    /* margin-bottom:25px; */
}

.timeContainer:first-child {
    width: 100%;
    margin-right: 460px;
}

.timeContainer h4 {
    font-size: 80px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    right: 0px;
    display: flex;
}

.wrapper {
    width: 100%;
}

.timeContainer h4 span {
    display: flex;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 21px;
    color: white;
    letter-spacing: 0px;
    background: rgba(255, 153, 0, 1);
    background: -moz-linear-gradient(left, rgba(255, 153, 0, 1) 0%, rgba(247, 183, 51, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 153, 0, 1)), color-stop(100%, rgba(247, 183, 51, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 153, 0, 1) 0%, rgba(247, 183, 51, 1) 100%);
    background: -o-linear-gradient(left, rgba(255, 153, 0, 1) 0%, rgba(247, 183, 51, 1) 100%);
    background: -ms-linear-gradient(left, rgba(255, 153, 0, 1) 0%, rgba(247, 183, 51, 1) 100%);
    background: linear-gradient(to right, rgb(255, 153, 0) 0%, rgb(247, 183, 51) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#f7b733', GradientType=1);
    padding-left: 25px;
    padding-right: 25px;
    height: 65px;
    margin-top: 17px;
    margin-left: 25px;
    border-radius: 3px;
}

.timeContainer:nth-child(2) {
    /* margin-left: 220px; */
    /* width: 177px; */
    width: 100%;
    margin-right: 210px;
}

.timeContainer:nth-child(3) {
    /* margin-left: 430px; */
    width: 100%;
}

.timerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.mapSection {
    margin-top: 50px;
}

#bgMedia {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: auto;
    opacity: 1;
    z-index: 0;
    filter: blur(0px);
    max-width: 1550px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.featuresContainer:nth-child(2) {
    margin-top: 50px;
}

.glowingCircle {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 0px;
    background: #ffffff14;
    border-radius: 100%;
    box-shadow: 0px 0px 305px #ffffff3b;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.sectionContainer {
    padding-left: 25px;
    padding-right: 25px;
}

.commonSection {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1200px;
    margin: 0 auto;
    color: #131a22;
}

.heroLeft h4 span {
    color: #ff9900;
}

.learnMoreSection {
    position: relative;
    z-index: 1;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    width: 100%;
}

.learnMoreSection a i {
    margin-right: 5px;
}

.learnMoreSection a {
    font-weight: bold;
    margin-bottom: 25px;
    width: 100%;
    text-align: center;
}

.sectionHeader h4 {
    font-size: 40px;
    letter-spacing: -1px;
    color: #101010;
    font-weight: 500;
    margin: 0 0 5px;
    line-height: 1.26;
    margin-bottom: 4px;
}

.sectionHeader h5 {
    font-size: 28px;
    line-height: 1.19;
    letter-spacing: -1px;
    color: #8fa9b0;
    font-weight: 100;
}

.sectionHeader {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionHeader p {
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: -0.3px;
    color: #8fa9b0;
    margin: 10px 0 50px;
}

.actualSection p {
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: -0.3px;
    color: #8fa9b0;
    margin-top: 10px;
    text-align: Center;
}

.actualSection h4 {
    font-size: 28px;
    font-weight: 500;
}

.featuresContainer {
    display: flex;
    flex-direction: row;
}

.featuresContainer:last-child {
    margin-top: 50px;
}

.fITop i {
    font-size: 32px;
    margin-right: 15px;
}

.featureIndividual {
    width: 100%;
}

.featureIndividual:last-child {
    margin-left: 50px;
}

.overlayFeature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fITop {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footerContainer {
    background: #131a22;
    padding-left: 25px;
    padding-right: 25px;
    color: #fff;
}

.footerMid {
    max-width: 1200px;
    margin: 0px auto;
    margin-bottom: 50px;
}

.footerItem {
    padding-top: 40px;
    text-align: center;
}

.footerItem>h1 {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.bottomItem li:not(:last-child) {
    margin-right: 15px !important;
}

.footerItem>ul>li {
    margin-top: 13px;
    font-size: 17px;
    letter-spacing: 0.4px;
}

.footerItem a {
    color: #E1E1E1;
}

.footerItem ul {
    margin-top: 25px;
}

.footerBottom {
    max-width: 1200px;
    border-top: 3px solid #0E141A;
    text-align: center;
    margin-top: 20px;
}

.bottomItem {
    padding-top: 40px;
}

.bottomItem>p:first-child {
    font-size: 16px;
    margin-bottom: 8px;
}

.bottomItem>p:first-child>a {
    text-decoration: underline;
    color: orange;
}

.bottomItem>p:last-child {
    color: #E1E1E1;
    font-size: 14px;
}

.footerBottom>.bottomItem:last-child {
    margin: auto;
    flex: 1;
}

.footerBottom>.bottomItem:last-child>ul>li {
    background-color: #0c1014;
    text-align: center;
    border-radius: 5px;
    padding: 11px 0;
    flex-basis: 100%;
    font-size: 1.25rem;
    transition: all 0.25s ease-in-out;
}

.footerBottom>.bottomItem:last-child>ul>li:hover {
    box-shadow: 0 0 50px #00000030;
    background: #0a0d11;
    margin-bottom:10px;
}

.footerBottom>.bottomItem:last-child>ul {
    display: flex;
}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 60px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #8fa9b0;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 25px;
    top: 25px;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
    color: #8fa9b0;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #131a22;
    position: absolute;
    left: 29px;
    top: 29px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.typeOfUser {
    display: flex;
    justify-content: space-between;
}

.typeOfUser p {
    width: 100%;
}

.typeOfUser p:last-child {
    margin-left: 25px;
}

.typeOfUser label {
    width: 100%;
    padding: 25px;
    border-radius: 3px;
    border: 1px solid #95adb2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    display: flex !important;
}

.cFormContainer input {
    width: 100%;
    height: 65px;
    border-radius: 3px;
    font-size: 16px;
    padding: 25px;
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(149, 173, 178, 0.29), inset 0 1px 0 0 rgba(149, 173, 178, 0.29);
    box-shadow: inset 0 -1px 0 0 rgba(149, 173, 178, 0.29), inset 0 1px 0 0 rgba(149, 173, 178, 0.29);
}

.dualInputContainer input:last-child {
    margin-left: 25px;
}

.dualInputContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.cFormContainer {
    margin-top: 50px;
}

.individualInputContainer textarea {
    width: 100%;
    border-radius: 3px;
    font-size: 16px;
    padding: 25px;
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(149, 173, 178, 0.29), inset 0 1px 0 0 rgba(149, 173, 178, 0.29);
    box-shadow: inset 0 -1px 0 0 rgba(149, 173, 178, 0.29), inset 0 1px 0 0 rgba(149, 173, 178, 0.29);
    margin-top: 25px;
}

.individualInputContainer a {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.3px;
    color: #ffffff;
    padding: 10px 30px;
    margin: 10px;
    border-radius: 4px;
    background: rgba(255, 153, 0, 1);
    background: -moz-linear-gradient(left, rgba(255, 153, 0, 1) 0%, rgba(247, 183, 51, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 153, 0, 1)), color-stop(100%, rgba(247, 183, 51, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 153, 0, 1) 0%, rgba(247, 183, 51, 1) 100%);
    background: -o-linear-gradient(left, rgba(255, 153, 0, 1) 0%, rgba(247, 183, 51, 1) 100%);
    background: -ms-linear-gradient(left, rgba(255, 153, 0, 1) 0%, rgba(247, 183, 51, 1) 100%);
    background: linear-gradient(to right, rgba(255, 153, 0, 1) 0%, rgba(247, 183, 51, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#f7b733', GradientType=1);
    position: absolute;
    right: 5px;
    text-transform: uppercase;
    bottom: 9px;
}

.individualInputContainer {
    position: Relative;
}

.contactContainer {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 60px;
}

.socialContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.mobileNav {
    display: none;
}

.socialContainerOuter {
    background: #ffffff;
    padding-top: 22px;
    padding-bottom: 20px;
    display: flex;
    overflow: scroll;
}

.socialContainer img {
    width: 101px;
    transition: all 0.25s ease-in-out;
    opacity: 0.4;
    margin: 0 20px;
}

.socialContainer a:last-child img {
    width: 212px;
}

.socialContainer a:first-child img {
    width: 83px;
    margin-right: 25px;
}

.socialContainer a:hover img {
    opacity: 1;
}

div#coverageMap img {
    max-width: 800px;
    margin: 0 auto;
    display: block;
}

.footerLeft {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mapSection h6 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: 500;
}
.individualNewsContainer {
    display: flex !important;
    flex-direction: row;
    margin: 0 auto;
}
.newsRight img {
    width: 370px;
}
.playContainer a {
    font-size: 40px;
    position:relative;
    z-index:1;
}
.videoOverlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #fda10e82;
}
.newsRight {
    position:relative;
    max-width: 370px;
    width: 100%;
    background-image: url(https://photos.travelblog.org/Photos/291166/846772/f/8063262-London-Bridge-selfie-0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authorLeft img {
    border-radius: 100%;
    max-width: 50px;
}
.authorContainer {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.authorRight {
    margin-left: 15px;
}
.authorRight a {
    font-weight: bold;
    color: #ff9900;
    text-transform: uppercase;
    font-size: 13px;
    display: flex;
}
.titleContainerNl {
    font-size: 27px;
    font-weight: bold;
}
.nLTop {
    margin-bottom: 25px;
}
.newsLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    background: white;
    width:100%;
}
.postedAgo {
    font-weight: bold;
}






























