@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased!important;
    font-family: 'Open Sans', sans-serif;
}

table {
    border-collapse: collapse;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.homeTopInput::placeholder,
.cFormContainer input::placeholder {
    color: #bebebe;
}

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    background: #0f1217;
    font-family: "Open Sans", Arial;
    -webkit-font-smoothing: antialiased;
    color: #ffffff;
    height: 100%;
    color: #ffffff;
}

.heroBackground>img {
    width: 130px;
}

::-webkit-input-placeholder {
    color: #b7b7b7;
}

::-moz-placeholder {
    color: #b7b7b7;
}

:-ms-input-placeholder {
    color: #b7b7b7;
}

:-moz-placeholder {
    color: #b7b7b7;
}

.navLeft img {
    width: 145px;
    height: 50px;
}

.nav-toggle {
    position: relative;
    padding: 10px;
    background: transparent;
    border: 1px solid transparent;
    margin: 7px 0;
}

.nav-toggle:focus {
    outline-width: 0;
}

.nav-toggle [class*='bar-'] {
    background: #fff;
    display: block;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
    border-radius: 2px;
    height: 2px;
    width: 27px;
    margin-bottom: 6px;
}

.nav-toggle .bar-bot {
    margin-bottom: 0;
}

.opened .bar-top {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 15% 15%;
    transform-origin: 15% 15%;
}

.opened .bar-mid {
    opacity: 0;
}

.opened .bar-bot {
    -webkit-transform: rotate(45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 15% 95%;
    transform-origin: 15% 95%;
}

.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    min-height: 100px;
    position: Relative;
    z-index: 10;
}

.heroContainer {
    background: url(../media/blockyBackground.png) center center no-repeat;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
    height: 600px;
    position: Relative;
    justify-content: space-between;
}

.hero {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    /* align-items: flex-start; */
    align-items: center;
    flex: 1;
    justify-content: center;
    position: Relative;
    z-index: 1;
    margin-top: 0px;
}

.navRight ul a:last-child {
    color: rgb(255, 255, 255);
}

.subscribeContainer>span {
    font-size: 13px;
    display: block;
    margin-top: 10px;
    color: #aeaeae;
}

.navRight ul>a {
    font-size: 15px;
    height: 42px;
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    letter-spacing: 0px;
    font-weight: 600;
}

.navRight ul>a:hover,
a:focus,
a:active {
    color: #bcbcbc;
    transition: 0.25s all ease-in-out;
}

.navRight ul a:not(:last-child) {
    margin-right: 25px;
}

.heroLeft h4 {
    font-size: 50px;
    line-height: 62px;
    text-transform: uppercase;
    font-weight: 900;
}

.heroLeft p {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: -0.3px;
    color: #f3f3f3;
    margin: 10px 0 40px;
    width: 100%;
    font-weight: 200;
    text-align: left;
}

.homeTopInput {
    height: 59px;
    border-radius: 5px;
    background-color: #0d1115;
    border: none;
    outline: 0;
    font-size: 15px;
    color: white;
    line-height: 1.75;
    letter-spacing: -0.3px;
    text-align: left;
    padding: 0 20px 0 72px;
    margin-bottom: 5px;
    max-width: 441px;
    width: 100%;
}

.btnHome {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.3px;
    color: #ffffff;
    padding: 12px 30px;
    cursor: pointer;
    border-radius: 4px;
    background: rgba(255, 153, 0, 1);
    background: -moz-linear-gradient(left, rgba(255, 153, 0, 1) 0%, rgba(247, 183, 51, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 153, 0, 1)), color-stop(100%, rgba(247, 183, 51, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 153, 0, 1) 0%, rgba(247, 183, 51, 1) 100%);
    background: -o-linear-gradient(left, rgba(255, 153, 0, 1) 0%, rgba(247, 183, 51, 1) 100%);
    background: -ms-linear-gradient(left, rgba(255, 153, 0, 1) 0%, rgba(247, 183, 51, 1) 100%);
    background: linear-gradient(to right, rgba(255, 153, 0, 1) 0%, rgba(247, 183, 51, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#f7b733', GradientType=1);
    position: absolute;
    right: 68px;
    top: 8px;
    text-transform: uppercase;
}

.subscribeContainer {
    position: relative;
    max-width: 500px;
    width: 100%;
}

.heroRight {
    width: 100%;
    display: flex;
    justify-content: center;
}

.heroLeft {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.subscribeContainer i {
    position: absolute;
    color: #e6e6e6;
    left: 21px;
    top: 11px;
    margin: auto;
    font-size: 40px;
}

.timeContainer {
    display: flex;
    align-items: center;
    color: #ffffff;
    position: relative;
    flex-direction: row;
    margin-bottom: 35px;
    height: 82px;
}

.timeContainer:first-child {
    width: 100%;
    margin-right: 460px;
}

.timeContainer h4 {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    right: 0px;
    display: flex;
}

.wrapper {
    width: 100%;
}

.actualMobileNav {
    display: none;
}

.timeContainer h4 span {
    display: flex;
    align-items: center;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 21px;
    color: white;
    letter-spacing: 0px;
    background: rgba(255, 153, 0, 1);
    background: -moz-linear-gradient(left, rgba(255, 153, 0, 1) 0%, rgba(247, 183, 51, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 153, 0, 1)), color-stop(100%, rgba(247, 183, 51, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 153, 0, 1) 0%, rgba(247, 183, 51, 1) 100%);
    background: -o-linear-gradient(left, rgba(255, 153, 0, 1) 0%, rgba(247, 183, 51, 1) 100%);
    background: -ms-linear-gradient(left, rgba(255, 153, 0, 1) 0%, rgba(247, 183, 51, 1) 100%);
    background: linear-gradient(to right, rgb(255, 153, 0) 0%, rgb(247, 183, 51) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#f7b733', GradientType=1);
    padding-left: 25px;
    padding-right: 25px;
    height: 48px;
    margin-top: 18px;
    margin-left: 25px;
    border-radius: 3px;
}

.timeContainer:nth-child(2) {
    width: 100%;
    margin-right: 210px;
}

.timeContainer:nth-child(3) {
    width: 100%;
}

.timerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.mapSection {
    margin-top: 60px;
}

.slick-list {
    overflow: unset!important;
}

#bgMedia {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: auto;
    opacity: 1;
    z-index: 0;
    filter: blur(0px);
    max-width: 1550px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.featuresContainer:nth-child(2) {
    margin-top: 50px;
}

.glowingCircle {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 0px;
    background: #ffffff14;
    border-radius: 100%;
    box-shadow: 0px 0px 305px #ffffff3b;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.sectionContainer {
    padding-left: 25px;
    padding-right: 25px;
}

.commonSection {
    padding-top: 40px;
    padding-bottom: 80px;
    margin: 0 auto;
    color: #ffffff;
}

.heroLeft h4 span {
    color: #ff9900;
    display: block;
    /* font-weight: 900; */
    /* font-size: 58px; */
    letter-spacing: 1px;
}

.learnMoreSection {
    position: relative;
    z-index: 1;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    width: 100%;
}

.learnMoreSection a i {
    margin-right: 5px;
}

.learnMoreSection a {
    font-weight: bold;
    margin-bottom: 25px;
    width: 100%;
    text-align: center;
}

.sectionHeader h4 {
    font-size: 32px;
    letter-spacing: -1px;
    color: #fff;
    font-weight: 700;
    margin: 0 0 5px;
    line-height: 1.26;
    margin-bottom: 9px;
}

.sectionHeader h5 {
    font-size: 18px;
    line-height: 1.19;
    letter-spacing: -0.2px;
    color: #cdcdcd;
    font-weight: 400;
}

.sectionHeader {
    justify-content: stretch;
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.sectionHeader p {
    font-size: 17px;
    line-height: 1.63;
    letter-spacing: -0.3px;
    font-weight: 400;
    text-align: left;
    color: #dddddd;
    margin-bottom: 25px;
}

.actualSection p {
    font-size: 15px;
    line-height: 1.83;
    letter-spacing: 0.1px;
    color: #e3e3e3;
    width: 90%;
    margin-top: 10px;
    text-align: left;
}

.actualSection h4 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.featuresContainer {
    display: flex;
    flex-direction: row;
}

.featuresContainer:last-child {
    margin-top: 50px;
}

.fITop i {
    font-size: 32px;
    margin-right: 19px;
}

.featureIndividual {
    width: 100%;
}

.featureIndividual:last-child {
    margin-left: 70px;
}

.overlayFeature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.fITop {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.footerRight ul a {
    font-weight: 600;
    margin-left: 15px;
    color: #fff;
    font-size: 15px;
}

.footerContainer {
    background: #0b0f13;
    padding-left: 25px;
    padding-right: 25px;
    color: #fff;
}

.footerLeft p {
    font-size: 12px;
    margin-top: 5px;
}


.bottomItem {
    padding-top: 40px;
}

.bottomItem>p:first-child {
    font-size: 16px;
    margin-bottom: 8px;
}

.bottomItem>p:first-child>a {
    text-decoration: underline;
    color: orange;
}

.bottomItem>p:last-child {
    color: #E1E1E1;
    font-size: 14px;
}

.footerBottom>.bottomItem:last-child {
    margin: auto;
    flex: 1;
}

.footerBottom>.bottomItem:last-child>ul>li {
    background-color: #0c1014;
    text-align: center;
    border-radius: 5px;
    padding: 11px 0;
    flex-basis: 100%;
    font-size: 1.25rem;
    transition: all 0.25s ease-in-out;
}

.footerBottom>.bottomItem:last-child>ul>li:hover {
    box-shadow: 0 0 50px #00000030;
    background: #0a0d11;
    margin-bottom: 10px;
}

.footerBottom>.bottomItem:last-child>ul {
    display: flex;
}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 60px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #e6e6e6;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 25px;
    top: 25px;
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 100%;
    background: #fff;
    color: #8fa9b0;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #141920;
    position: absolute;
    left: 29px;
    top: 29px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.typeOfUser {
    display: flex;
    justify-content: space-between;
}

.typeOfUser p {
    width: 100%;
}

.typeOfUser p:last-child {
    margin-left: 25px;
}

.typeOfUser label {
    width: 100%;
    padding: 25px;
    border-radius: 3px;
    border: 1px solid #10161d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    display: flex !important;
}

.cFormContainer input {
    width: 100%;
    height: 65px;
    border-radius: 5px;
    font-size: 16px;
    padding: 25px;
    color: white;
    background: #0e11157a;
}

.dualInputContainer input:last-child {
    margin-left: 25px;
}

.dualInputContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.cFormContainer {
    margin-top: 50px;
}

.individualInputContainer textarea {
    width: 100%;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    padding: 25px;
    margin-top: 25px;
}

.individualInputContainer a {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.3px;
    color: #ffffff;
    padding: 10px 44px;
    margin: 10px;
    border-radius: 4px;
    background: rgba(255, 153, 0, 1);
    background: -moz-linear-gradient(left, rgba(255, 153, 0, 1) 0%, rgba(247, 183, 51, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 153, 0, 1)), color-stop(100%, rgba(247, 183, 51, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 153, 0, 1) 0%, rgba(247, 183, 51, 1) 100%);
    background: -o-linear-gradient(left, rgba(255, 153, 0, 1) 0%, rgba(247, 183, 51, 1) 100%);
    background: -ms-linear-gradient(left, rgba(255, 153, 0, 1) 0%, rgba(247, 183, 51, 1) 100%);
    background: linear-gradient(to right, rgba(255, 153, 0, 1) 0%, rgba(247, 183, 51, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#f7b733', GradientType=1);
    position: absolute;
    right: 5px;
    text-transform: uppercase;
    bottom: 9px;
}

.individualInputContainer {
    position: Relative;
}

.contactContainer {
    max-width: 1200px!important;
    margin: 0 auto;
    margin-top: 60px;
}

.socialContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.socialContainerOuter {
    background: #12181f;
    padding-top: 22px;
    padding-bottom: 20px;
    display: flex;
    overflow: scroll;
}

.socialContainer img {
    width: 101px;

    opacity: 0.4;
    margin: 0 20px;
}

.socialContainer a:last-child img {
    width: 212px;
}

.socialContainer a:first-child img {
    width: 83px;
    margin-right: 25px;
}

.socialContainer a:hover img {
    opacity: 1;
}

div#coverageMap img {
    max-width: 800px;
    margin: 0 auto;
    display: block;
}

.footerLeft {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.mapSection h6 {
    text-align: left;
    margin-bottom: 60px;
    font-size: 30px;
}

/*DropDown*/

.dropbtn>div:last-child {
    flex-direction: column;
    align-items: flex-end;
}

.dropbtn {
    background: #171c22;
    display: inline-flex;
    padding: 0 22px;
    height: 46px!important;
    border-radius: 5px;
    margin-right: 0!important;
}

.dropbtn>hr {
    height: 100%;
    align-items: center;
    width: 2px;
    color: black;
    margin: auto 25px;
    background: #0e131959;
}

.dropbtn>div:last-child>p {
    font-size: 11px;
    color: #84ca7d;
    font-weight: bold;
}

.dropbtn>div:last-child>h1 {
    font-size: 15px;
    letter-spacing: -0.5px;
    color: #ffffff;
}

.dropbtn>div:first-child>i {
    font-size: 14px;
    margin-right: 7px;
    color: #ffffff;
}

.dropbtn>div:first-child>h1 {
    font-size: 17px;
    font-weight: 900;
    color: #ffffff;
    margin: auto;
}

.dropdown-content {
    margin: auto;
    display: none;
    position: absolute;
    top: 45px;
    z-index: 300;
    background: #171c22;
    padding: 25px;
    margin-top: 20px;
    border-radius: 3px;
    padding-top: 0px;
    right: 0px;
}

.dropdown {
    display: inline-flex;
}

.coinChart text {
    font-weight: bold;
    color: #fff !important;
    fill: #fff !important;
}

.coinChart path.highcharts-graph {
    stroke: #f9b028 !important;
}

.dropbtn>div,
.dropdown>hr {
    display: inline-flex;
    margin: auto;
    align-items: center;
}

.dropdownMain {
    display: inline-flex;
}

.blockyInput>input {
    width: 100%;
    background: none;
    height: 100%;
    color: white;
    background: #0b0f13;
    font-size: 0.85rem;
}

.dropdown-content>li {
    border-radius: 3px;
    height: 46px;
    margin-top: 13px;
    display: flex;
}

.blockyInput {
    background: #0b0f13 !important;
    height: 40px!important;
    align-items: center;
    padding: 0 15px;
}

.dropdown-content>li>a {
    margin: auto 0;
}

.blockyInput>i {
    color: #fff;
}

.blockyInput>input::placeholder,
.blockyInput>input::placeholder {
    color: #b4b4b4;
}

.newsSlider {
    background-color: #0b0f13;
}

/* the slides */

.slick-slide {
    margin: 0 25px;
}

.slick-dots {
    bottom: 12px;
}

/* the parent */

.slick-list {
    margin: 0 -25px;
}

.newsContainer {
    display: flex;
    height: 100%;
    padding: 50px 0;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.newsItem {
    display: inline-flex!important;
    flex-direction: row;
    margin: 0 auto;
    overflow: hidden;
    width: 100%!important;
    background-color: #131a22;
    box-shadow: 0 0 0 transparent;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
    /* height: 205px; */
}

.newsLeft {
    flex: 0.5;
    padding: 19px 30px;
}

.newsLeft>p {
    font-size: 13px;
    color: #C4C4C4;
}

.newsLeft>h1 {
    font-size: 18px;
    line-height: 29px;
    width: 90%;
    font-weight: 500;
    margin: 14px 0;
}

.newsLeft>a {
    font-weight: 900;
    text-transform: uppercase;
    color: #FFC665;
    font-size: 13px;
    letter-spacing: 0.1px;
    position: relative;
    bottom: 2px;
}

.newsRight {
    flex: 0.6;
    text-align: right;
    height: 0;
    position: Relative;
}

.newsPoster>div>p {
    font-size: 13px;
    color: #EDEDED;
}

.newsPoster>div>a {
    font-weight: 600;
    font-size: 11px;
    color: #FFC886;
}

.newsPoster {
    display: inline-flex;
    flex-direction: row;
    padding: 17px;
}

.newsRight>img {
    width: 100%;
    border-radius: 4px 0 0 0;
    right: 0px;
}

.newsPoster>img {
    width: 30px;
    height: 30px;
    margin: auto;
    margin-left: 10px;
}

.newsLeft>a>i {
    font-size: 30px;
    position: relative;
    top: 7px;
    left: 4px;
    color: white;
}

.newsItem:hover,
.newsItem:focus,
.newsItem:active {
    background: #192028;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    box-shadow: 0 15px 30px #0000001a;
    transition: all 0.4s ease-in-out;
}





#blockyDropdown .dropbtn {
    background: #10161c!important;
}

.actualPoster {
    background-image: -webkit-gradient( linear, left top, left bottom, from(#2930389c), to(#2930389c)), url(https://images.unsplash.com/photo-1484506399805-c273b8e91dce?auto=format&fit=crop&w=1950&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
    background-image: -webkit-linear-gradient( #2930389c, #2930389c), url(https://images.unsplash.com/photo-1484506399805-c273b8e91dce?auto=format&fit=crop&w=1950&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
    background-image: -o-linear-gradient( #2930389c, #2930389c), url(https://images.unsplash.com/photo-1484506399805-c273b8e91dce?auto=format&fit=crop&w=1950&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
    background-image: linear-gradient( #2930389c, #2930389c), url(https://images.unsplash.com/photo-1484506399805-c273b8e91dce?auto=format&fit=crop&w=1950&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
    background-size: cover;
    background-position: center center;
    height: 142px;
    border-radius: 40px 0px 0px 0px;
    max-width: 350px;
    right: 0px;
    position: absolute;
    width: 100%;
}

/*twitter*/

#twitter {
    background-color: #0b0f13;
    padding: 34px 0px;
    margin: 50px -25px;
    padding-left: 25px;
    padding-right: 25px;
}

.commonSection>div:not(:nth-child(3)) {
    max-width: 1200px;
    margin: 0 auto;
}

.twitterMain {
    display: flex;
    margin-top: 30px;
    margin: auto;
    max-width: 1200px;
}

.twitterItem {
    flex-direction: row;
    padding: 26px 30px;
    background-color: #131a22;
    border-radius: 5px;
    transition: 0.25s all ease-in-out;
}

.slick-slide {
    margin: 0 25px;
}

.slick-list {
    margin: 0 -25px!important;
}

.twitterHead>div {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 15px;
}

.twitterBody {
    margin: 18px 0;
}

.twitterHead {
    display: flex;
    flex-direction: row;
}

.twitterHead>div>h1 {
    font-weight: 900;
    color: white;
}

.twitterHead>p {
    padding: 10px;
    font-size: 0.96rem;
    color: #dadada;
}

.twitterHead>img {
    width: 65px;
    height: 60px;
}

.twitterHead>div>a {
    color: silver;
    font-size: 0.8rem;
    letter-spacing: 0.2px;
}

.twitterBody>p {
    font-size: 0.95rem;
    line-height: 34px;
    color: white;
}

.twitterContainer {
    max-width: 1200px;
    margin: 0 auto;
}

.twitterFooter>ul>li {
    display: inline-block;
}

.twitterFooter>ul>li>a {
    background-color: #0b0f13;
    padding: 8px 20px;
    font-weight: 900;
    font-size: 15px;
    height: 40px;
    text-align: left;
    text-transform: uppercase;
    border-radius: 3px;
    margin-right: 15px;
    align-items: center;
    display: inline-flex;
    position: relative;
    bottom: 0;
    transition: 0.4s all ease-in-out;
}

.twitterFooter>ul>li>a:hover {
    background-color: #ef9816!important;
    color: #fff;
    position: relative;
    bottom: 5px;
}

.twitterFooter>ul>li>a>span {
    width: 32px;
    height: 32px;
    margin-left: 25px;
}

.twitterFooter>ul>li:first-of-type>a>span {
    width: 22px;
}

.twitterFooter>ul>li:first-of-type>a>span {
    background: url("../media/share-button-color.png") no-repeat center center;
    background-size: 100%;
}

.twitterFooter>ul>li:nth-child(2)>a>span {
    background: url("../media/eye-icon-color.png") no-repeat center center;
    background-size: 100%;
}

.twitterFooter>ul>li:last-of-type>a>span {
    background: url("../media/retweet-icon-color.png") no-repeat center center;
    background-size: 100%;
}

.twitterFooter>ul>li:first-of-type>a:hover>span {
    background: url("../media/share-button-white.png") no-repeat center center;
    background-size: 100%;
}

.twitterFooter>ul>li:nth-child(2)>a:hover>span {
    background: url("../media/eye-icon-white.png") no-repeat center center;
    background-size: 100%;
}

.twitterFooter>ul>li:last-of-type>a:hover>span {
    background: url("../media/retweet-icon-white.png") no-repeat center center;
    background-size: 100%;
}

.twitterFooter>ul>li:not(:first-of-type)>a>span {
    margin-left: 25px;
}

.twitterHeader {
    margin: auto;
    color: white;
}

.twitterHeader>h4 {
    font-size: 1.8rem;
    font-weight: 900;
}

.twitterHeader>h5 {
    font-weight: normal;
    font-size: 0.9rem;
    margin-top: 5px;
    margin-bottom: 20px;
}


.btn-arrow {
    -webkit-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
}

.btn-arrow span {
    display: inline-block;
    position: relative;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    will-change: transform;
}

.btn-arrow:hover span {
    -webkit-transform: translate3d(-1rem, 0, 0);
    transform: translate3d(-1rem, 0, 0);
}

.btn-arrow svg {
    position: absolute;
    width: 1.1em;
    right: 0rem;
    opacity: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    will-change: right, opacity;
}

.btn-arrow svg * {
    stroke-width: 4px;
    stroke-color: transparent;
}

.btn-arrow:hover svg {
    opacity: 1;
    right: -2rem;
}
